DATABASE_URL="postgresql://docker:docker@localhost:5432/server"
PORT=3333
NODE_ENV=develoment

POSTGRES_PASSWORD=root
POSTGRES_USER=root
POSTGRES_DB=server
POSTGRES_PORT=5432

#cloudflare
CLOUDFLARE_ACCOUNT_ID="f3b4e4d31a05a7162af39dd78f7d1964"
CLOUDFLARE_ACCESS_KEY_ID="e1a4fc6ef6c93148d610f051f9667379"
CLOUDFLARE_SECRET_ACCESS_KEY="1fd337d46d04f62d946edefd12fd352180e10bd17fbe7468e6855144bbba0ace"
CLOUDFLARE_BUCKET="upload-server"
CLOUDFLARE_PUBLIC_URL="https://pub-54685354f85b4189aa2c5f7fd5948150.r2.dev"
