@import "tailwindcss";
@tailwind utilities;
@tailwind components;

@theme {
--font-sans: 'Open Sans', sans-serif;
}

/* .blue-base{
    background-color: #2C46B1;
}

.blue-dark{
    background-color:#2C4091;
}

.white{
    background-color:#2C4091;
} */